
<% _.each(recipes, function(recipe) { %>
	<div class="recipe-item-<%= recipe.get('id') %>">
		<h4><%= recipe.get('name') %></h4>
		<a href="#recipe/<%= recipe.get('id') %>" class="fa-icon-eye-open"> View</a>&nbsp;|&nbsp;
		<a href="#edit/<%= recipe.get('id') %>" class="fa-icon-pencil"> Edit</a>&nbsp;|&nbsp;
		<a href="#delete/<%= recipe.get('id') %>" class="delete fa-icon-remove" data-id="<%= recipe.get('id') %>"> Delete</a>
	</div>
<% }) %>

<a href="#/new" class="nbs-button-medium nbs-button-green-flat">Create new Recipe</a>

<div class="clear">