
<h2>Edit recipe: <%= recipe.get('name') %></h2>

<form id="recipe-edit">
    <input type="hidden" id="recipe-id" value="<%= recipe.get('id') %>" />
    <input type="text" id="recipe-name" value="<%= recipe.get('name') %>" />

    <h3>Ingredients</h3>

    <p><a id="addIngredient" class="fa-icon-plus pointer"> Add Ingredient</a></p>
    
    <div id="ingredients"></div>
    
    <h3>Directions</h3>

    <p><a id="addDirection" class="fa-icon-plus pointer"> Add Direction</a></p>
    
    <div id="directions"></div>
    
    <div class="clearout"></div>
    
    <button id="submit">Update Recipe</button>
</form>